---
import { ThirteenRunTable } from '../components/thirteen-run-table.js'
import { HeaderDropdown } from '../components/header-dropdown.js'
import { postScores, getTodaysScores, getTeamsAndArchivedScores} from '../util/mlb-api.js'
import { namesHundred } from '../players/2023.js'

const { teams, archivedScores} = await getTeamsAndArchivedScores();

teams.sort((a, b) => {
	if (a.name < b.name) {
		return -1
	}
	if (a.name > b.name) {
		return 1
	}
	return 0
})

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0/dist/shoelace.js"></script>
		<title>13 Run Pool - $100</title>
	</head>
	<body>
		<HeaderDropdown selectedHeader="$100 13-Run" client:load></HeaderDropdown>
	<ThirteenRunTable players={namesHundred} teams={teams} archivedScores={archivedScores} client:load />
	</body>
</html>
